/* Daimler Standard Font */
@font-face {
	font-family: 'CorpoS';
	src:
		url('https://van-dwh.github.io/daimler-cs-regular-woff.woff') format('woff');
		url('https://van-dwh.github.io/DaimlerCS-Bold.woff') format('woff');
		url('https://van-dwh.github.io/DaimlerCS-Italic.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-style  : italic;
		font-weight : bold;

}
